header {
	background-color: #bbbb;
	padding: 20px 0;
}

.caja {
	width: 940px;
	position: relative;
	margin: 0 auto;
}
nav {
	position: absolute;
	top: 110px;
	right: 0px;
}
nav li {
	display: inline;
	margin-right: 20px;
}

nav a {
	text-transform: uppercase;
	color: black;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

main {
	margin-top: 50px;
}
.productos {
	width: 940px;
	margin: 0 auto;
}
.productos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid black;
	border-radius: 20px;
}

.productos li:hover {
	border-color: coral;
}
.productos li:active {
	border-color: green;
}

.productos li:active h2 {
	font-size: 33px;
}

.productos h2 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.p-descripcion {
	font-size: 18px;
}

.p-precio {
	font-size: 30px;
	font-weight: bold;
	margin-top: 10px;
}

nav a:hover {
	color: coral;
	text-decoration: underline;
}

footer {
	background-color: black;
}
footer img {
	display: block;
	margin: 0 auto;
}
footer p {
	color: white;
	text-align: center;
	padding-bottom: 20px;
	font-size: 13px;
}
